<!--The content below is only a placeholder and can be replaced.-->
<section>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/pull">Pull</a></li>
      <li><a routerLink="/push">Push</a></li>
      <li><a routerLink="/why-rxjs">Why RxJS</a></li>
      <li>
        Observables
        <ul>
          <li><a routerLink="/observables/intro">Intro</a></li>
          <li><a routerLink="/observables/function-vs-observable">Function vs Observable</a></li>
        </ul>
      </li>
      <li><a routerLink="/subscription">Subscription</a></li>
      <li>
        Operators
        <ul>
          <li><a routerLink="/operators/combine">Combine</a></li>
          <li><a routerLink="/operators/concat">Concat</a></li>
          <li><a routerLink="/operators/merge">Merge</a></li>
          <li><a routerLink="/operators/start-with">StartWith</a></li>
          <li><a routerLink="/operators/debounce-time">debounceTime</a></li>
          <li><a routerLink="/operators/distinct-until-changed">distinctUntilChanged</a></li>
          <li><a routerLink="/operators/take">Take</a></li>
          <li><a routerLink="/operators/take-until">TakeUntil</a></li>
          <li><a routerLink="/operators/concat-map">ConcatMap</a></li>
          <li><a routerLink="/operators/switch-map">SwitchMap</a></li>
          <li><a routerLink="/operators/do-tap">Tap</a></li>
        </ul>
      </li>
      <li><a routerLink="/subjects">Subject</a></li>
      <li><a routerLink="/schedulers">Schedulers</a></li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</section>